@import "src/assets/styles/utils/variables";

.header-wrapper {
  padding: 30px 90px;
  background-color: $bali-hai;
  color: white;
}

a {
  text-decoration: none;
  color: $cornflower-blue;
}

.bread-crumbles {
  font-size: 20px;
}
